{% extends 'base.html' %}
{% block titulli %}BLOG | {{blog.titulli}}{% endblock  %}
{% load static %}

{% block kontent %}

<div class="container">
	<div class="row">
		<div lc-helper="background" class="col-lg-6 order-lg-2" style="min-height: 45vh; background-size: cover; background-position: center; background-image: url('{{blog.foto.url}}');"></div>
		<div class="col-lg-6 order-lg-1 my-auto p-5">
			<div class="lc-block">
				<div editable="rich">
					<h1>{{blog.titulli}}</h1>
					<p class="lead">{{blog.tekst}}</p>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock  %}